name: Update the deployment repository

on:
  push:
    branches:
      - main

jobs:
  Update-the-repository:
    runs-on: ubuntu-latest
    environment: ACCESS_TOKEN
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Git configuration
        run: |
          /usr/bin/git config --global user.email "vuwin24680@gmail.com"
          /usr/bin/git config --global user.name "cielaton"

      - name: Repository configuration and pushing
        run: |
          git clone https://cielaton:${{secrets.ACCESS_TOKEN}}github.com/cielaton/Portfolio-site.git
          cd Portfolio-site/
          git remote set-url origin https://github.com/cielaton/cielaton.github.io.git
          git push origin main
