name: Update the deployment repository

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write
  repository-projects: write
jobs:
  Update-the-repository:
    runs-on: ubuntu-latest
    environment: ACCESS_TOKEN
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Git configuration
        run: |
          git config user.email vuwin24680@gmail.com
          git config user.name cielaton

      - name: Repository configuration and pushing
        run: |
          git remote remove origin
          git config --list
          git remote add origin https://github.com/cielaton/cielaton.github.io.git
          git push origin main
